.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
docs/**
.agents/**
.claude/**
.trae/**
.reasonix/**
coverage/**
openspec/**
yunxiao-agent-icon/**
AGENTS.md
CLAUDE.md
RTK.md
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/$PWD/**
